body {
  background-color: #2980b9;
  margin: 0;
  padding: 0;
}

.box {
  background-color: black;
  width: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 40px;
  text-align: center;
  transform: translate(-50%, -50%);
}

.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.box input[type="text"],
.box input[type="password"] {
  border: none;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 1px solid #2980b9;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
  width: 280px;
  border: 1px solid #27ae60;
}

.box input[type="submit"] {
  border: none;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 1px solid #27ae60;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
}

.box input[type="submit"]:hover {
  background-color: #27ae60;
}
